[Unit]
Description=Recofigure vxcan Devices for Host-Container networking and using cangw to forward traffic to/from a Physical Adapter

[Service]
ExecStart=/bin/bash -c '/usr/local/bin/reconfigure-vxcan-devices.sh "start"'
#ExecStop=/bin/bash -c '/usr/local/bin/reconfigure-vxcan-devices.sh "stop"'

[Install]
WantedBy=default.target
