# Disabled for now - Script itself runs an infinite loop
#[Unit]
#Description=Recofigure CAN Physical Adapter for Container-Namespace networking
#RefuseManualStart=no
#RefuseManualStop=no
#
#[Timer]
## Execute job if it missed a run due to machine being off
#Persistent=true
#
## Set the timer accuracy to 1 second instead of the default 1 minute
#AccuracySec=1
#
## Run Every Day at 20:00:00
#OnCalendar=*-*-* 20:00:00
#
## Run when enabled
#OnActiveSec=5s
#
## File describing job to execute
#Unit=reconfigure-can-devices.service
#
#[Install]
#WantedBy=timers.target
#
